body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
}

h2 {
  margin: 0 0 5px;
  font-size: 24px;
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 60px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px dashed grey;
  padding: 30px;
}

.date {
  opacity: 0.7;
  text-align: justify;
}

.time {
  font-size: 40px;
  font-weight: bold;
}

.time small {
  font-size: 16px;
  vertical-align: middle;
  line-height: 36px;
}

footer {
  text-align: center;
  font-size: 14px;
  font-family: monospace;
  color: rgba(0, 0, 0, 0.8);
}
